{% extends 'my_erp/base.html' %}
{% load static %}


{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Последние спецификации</title>
</head>
<body>
    <h1>Последние спецификации по номенклатурам</h1>

    <!-- Таблица -->
    <div class="container mx-auto px-4">

        <!-- Поле ввода для поиска -->
        <form method="get" action="">
            <input type="text" name="q" placeholder="Поиск по ID" value="{{ query|default_if_none:'' }}">
            <button type="submit">Найти</button>
        </form>
        <table class="my-table mt-4 w-full">
            <tr>
                <th>id</th>
                <th>Номенклатура</th>
                <th>Номер строки</th>
                <th>Количество</th>
                <th>Инфо из регистра</th>
            </tr>
            {% for spec in page_obj %}
                <tr>
                    <td>{{ spec.id }}</td>
                    <td>{{ spec.nomenclature.name }}</td>
                    <td>{{ spec.line_number }}</td>
                    <td>{{ spec.quantity }}</td>
{#                    <td>{{ spec.get_info_rg_data }}</td>#}
                </tr>
            {% empty %}
                <tr><td colspan="3">Нет данных</td></tr>
            {% endfor %}
        </table>
    </div>
    <!-- Навигация по страницам -->
    <div style="margin-top: 20px;">
        {% if page_obj.has_previous %}
            <a href="?page=1">Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        <span>Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперёд</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя</a>
        {% endif %}
    </div>
</body>
</html>


{% endblock %}