{% extends 'my_erp/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <main class="flex-grow p-1">

        <!-- Лоадер -->
        <div id="loading-spinner" class="absolute inset-0 bg-gray-700 bg-opacity-50 flex justify-center items-center z-50 hidden">
            <div class="loader border-4 border-t-transparent border-emerald-500 rounded-full w-12 h-12 animate-spin"></div>
        </div>
    
        <!-- Модальное окно "Детали заказа покупателя" -->
        <div id="ordermodal" class="fixed inset-0 bg-gray-700 bg-opacity-50 flex items-center justify-center hidden z-40 overflow-y-auto">
            <div class="bg-white p-6 border border-gray-200 rounded-lg max-w-[1680px] w-full max-h-[850px] shadow-lg shadow-gray-700 relative">

                <!-- Кнопка закрытия -->
                <div class="absolute top-2 right-2 group inline-flex items-center">
                    <!-- Тултип -->
                    <div class="absolute right-full mr-0 top-1/2 -translate-y-1/2 px-2 py-1 rounded-lg text-sm text-white bg-gray-800 opacity-0 group-hover:opacity-100 transition-opacity duration-300 pointer-events-none z-10 whitespace-nowrap">
                        Закрыть
                    </div>
                    <!-- Кнопка -->
                    <button id="close-orders-modal" class="p-2">
                        <img src="{% static 'icons/close.ico' %}" alt="Close" class="w-6 h-6">
                    </button>
                </div>
                
                <!-- Заголовок -->
                <div class="mb-4">
                    <!-- Номер заказа, дата, наименование покупателя и сумма -->
                    <h2 class="text-xl inline-block relative after:block after:w-full after:h-[1px] after:bg-gray-300 after:absolute after:bottom-0 after:left-0">
                        <span class="font-normal text-sm">Заказ:</span>
                        <span id="order-number-display" class="font-semibold"></span>
                        <span class="font-normal text-xs">от</span>
                        <span id="order-date-display" class="font-normal text-sm"></span>
                        <span class="mx-2 text-gray-300"> </span>
                        <span id="order-buyer-display" class="font-normal text-xl"></span>
                        <span class="mx-2 text-gray-300"> </span>
                        <span id="order-total-display" class="font-normal text-xl"></span>
                        <span class="font-normal text-sm">₽ с НДС</span>
                    </h2>
                </div>

                <!-- Содержание окна -->
                <div class="modal-content flex gap-6 px-4">

                    <!-- Левая часть модального окна-->
                    <div class="flex-[0_0_800px]">

                        <!-- Вкладки -->
                        <div class="mb-4 border-b border-gray-300 flex items-center justify-between">
                            <div class="flex space-x-4">
                                <button type="button" class="tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="products-tab">
                                    Товары (<span id="max-line-number">0</span>)
                                </button>
                                <button type="button" class="tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="services-tab">
                                    Услуги
                                </button>
                            </div>

                            <!-- Кнопка сброса выделения строки -->
                            <button type="button" id="reset-select-btn" class="group hidden bg-gray-100 font-semibold text-emerald-600 hover:bg-gray-200 px-3 py-1 rounded-md text-xs transition-colors duration-200">
                                Сбросить выделение
                            </button>

                        </div>
                        
                        <!-- Контент вкладок -->
                        <div class="tab-content" id="products-tab">
                            <!-- Таблица с деревом -->
                            <div class="overflow-y-auto pr-2 scrollbar-custom max-h-[67vh] mt-1">
                                <table class="w-full">
                                    <thead class="sticky top-0 bg-white z-10">
                                    <tr class="border-b border-gray-300">
                                        <th class="w-2 px-2 py-1"></th>
                                        <th class="w-24 px-2 py-1 font-medium">Наименование</th>
                                        <th class="w-10 px-2 py-1 text-center font-medium">Кол-во</th>
                                        <th class="w-10 px-2 py-1 text-center font-medium">Цена</th>
                                        <th class="w-10 px-2 py-1 text-center font-medium">Сумма</th>
                                        <th class="w-10 px-2 py-1 text-center font-medium">Сумма с НДС</th>
                                    </tr>
                                    </thead>
                                    <tbody id="order-items-table">
                                    <!-- JS вставит строки -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-content hidden" id="services-tab">
                            <p class="text-sm text-gray-500">Здесь будут перечислены услуги...</p>
                        </div>

                    </div>

                    <!-- Вертикальная линия -->
                    <div class="w-px bg-gradient-to-b from-gray-300 via-gray-400 to-gray-300 min-h-[350px]"></div>

                    <!-- Правая часть модального окна-->        
                    <div class="flex-1 flex flex-col">

                        <!-- Вкладки -->
                        <div class="mb-4 border-b border-gray-300 flex items-center justify-between">
                            <div class="flex space-x-4">
                                <button type="button" class="second-tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="dashboard-tab">
                                    Сводка
                                </button>
                                <button type="button" class="second-tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="material-tab">
                                    Материалы
                                </button>
                                <button type="button" class="second-tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="job-tab">
                                    Операции
                                </button>
                            </div>

                            <!-- Кнопка сброса фильтра -->
                            <button type="button" class="group hidden bg-gray-100 font-semibold text-emerald-600 hover:bg-gray-200 px-3 py-1 rounded-md text-xs transition-colors duration-200" id="reset-filter-btn">
                                Сбросить фильтр
                            </button>

                        </div>

                        <!-- Контент вкладок -->
                        <div class="second-tab-content hidden" id="dashboard-tab">
                            <p class="text-sm text-gray-500">Здесь будет красивый дашборд...</p>
                        </div>

                        <div class="second-tab-content hidden" id="material-tab">
                            
                            <!-- Поиск, сортировка, фильтр -->
                            <div class="flex items-center justify-between bg-gray-100 p-2 rounded">
                                
                                <!-- Поиск -->
                                <div class="flex items-center space-x-2">
                                    <img src="{% static 'icons/search.ico' %}" alt="Search" class="w-6 h-6">
                                    <input
                                            id="searchInputMaterials"
                                            type="text"
                                            placeholder=""
                                            class="bg-transparent w-[500px] focus:outline-none text-sm placeholder-gray-400 cursor-text overflow-hidden text-ellipsis">
                                </div>

                                <!-- Сортировка и фильтр -->
                                <div class="flex items-center space-x-4 text-gray-500 text-sm">
                                    <button class="flex items-center space-x-1 hover:text-gray-700"
                                        type="button"
                                        onclick="clearInputMaterials('searchInputMaterials')">
                                        <img src="{% static 'icons/close2.ico' %}" alt="Sort" class="w-4 h-4">
                                    </button>

                                    <!-- Вертикальная черта -->
                                    <div class="h-4 border-l border-gray-300"></div>
                                    
                                    <!-- Фильтр -->
                                    <div class="relative">
{#                                        <button id="CategoryFilterMaterials" class="flex items-center space-x-1 hover:text-gray-700">#}
                                        <button id="CategoryFilterMaterials" class="flex items-start hover:text-gray-700">
                                            <img id="FilterIcon"
                                                 data-icon-default="{% static 'icons/filter.ico' %}"
                                                 data-icon-on="{% static 'icons/filterON.ico' %}"
                                                 src="{% static 'icons/filter.ico' %}"
                                                 alt="Filter"
                                                 class="w-4 h-4">
                                            
                                            <span class="ml-2 text-xs text-emerald-600 font-semibold text-right whitespace-nowrap overflow-hidden text-ellipsis max-w-[150px]" id="selectedCategoryLabel"></span>
                                        </button>
                                        <!-- Лейбл с выбранной категорией -->
                                        

                                        <div id="categoryDropdown"
                                            class="absolute hidden left-1/2 transform -translate-x-1/2 mt-4 bg-white shadow-md border border-gray-200 rounded z-10 text-sm
                                                    scrollbar-custom max-h-[62vh] overflow-y-auto w-48">
                                            <!-- Остальные категории будут добавлены через JS -->
                                        </div>
                                    </div>

                                    <!-- Лейбл с выбранной категорией -->
{#                                    <div class="text-xs text-emerald-600 font-semibold text-right" id="selectedCategoryLabel"></div>#}

                                </div>

                            </div>

                            <!-- Таблица материалов -->
                            <div class="relative overflow-y-auto pr-2 scrollbar-custom max-h-[62vh] min-h-[200px] mt-2">

                                <!-- Лоадер -->
                                <div id="materials-loader" class="absolute inset-0 flex justify-center items-center bg-white z-10 hidden">
                                    <div class="loader border-4 border-t-transparent border-emerald-500 rounded-full w-12 h-12 animate-spin"></div>
                                </div>
                                
                                <table class="table-fixed w-full">
                                    <thead class="sticky top-0 bg-white">
                                    <tr class="border-b border-gray-300">
                                        
{#                                        <th class="w-28 px-2 py-1 font-medium text-sm text-center">#}
                                        <th style="width: 220px;" class="px-2 py-1 font-medium text-sm text-center">
                                            <div class="flex items-center justify-center gap-1">
                                                <span id="sortByName" class="cursor-pointer hover:text-emerald-500">Наименование</span>
                                                <img id="iconName"
                                                     src="{% static 'icons/arrowDown.ico' %}"
                                                     data-icon-asc="{% static 'icons/arrowDown.ico' %}"
                                                     data-icon-desc="{% static 'icons/arrowUp.ico' %}"
                                                     class="w-4 h-4"
                                                     alt="Sort">
                                            </div>
                                        </th>
                                        
{#                                        <th class="w-10 px-2 py-1 font-medium text-sm text-center">#}
                                        <th style="width: 40px;" class="px-2 py-1 font-medium text-sm text-center">
                                            <div class="flex items-center justify-center gap-1">
                                                <span id="sortByQuantity" class="cursor-pointer hover:text-emerald-500">Кол-во</span>
                                                <img id="iconQuantity"
                                                     src=""
                                                     data-icon-asc="{% static 'icons/arrowDown.ico' %}"
                                                     data-icon-desc="{% static 'icons/arrowUp.ico' %}"
                                                     class="w-4 h-4 hidden"
                                                     alt="Sort">
                                            </div>
                                        </th>
                                        
{#                                        <th class="w-10 px-2 py-1 font-medium text-sm text-center">Ед.</th>#}
                                        <th style="width: 30px;" class="px-2 py-1 font-medium text-sm text-center">Ед.</th>
                                        
{#                                        <th class="w-10 px-2 py-1 font-medium text-sm text-center">#}
                                        <th style="width: 60px;" class="px-2 py-1 font-medium text-sm text-center">
                                            
                                            <div class="flex items-center justify-center gap-1">
                                                <span id="sortByInStock" class="cursor-pointer hover:text-emerald-500">На складе</span>
                                                <img id="iconInStock"
                                                     src=""
                                                     data-icon-asc="{% static 'icons/arrowDown.ico' %}"
                                                     data-icon-desc="{% static 'icons/arrowUp.ico' %}"
                                                     class="w-4 h-4 hidden"
                                                     alt="Sort">
                                            </div>
                                        </th>
                                        
                                    </tr>
                                    
                                    </thead>
                                    <tbody id="materials-table-body">
                                    <!-- JS вставит строки -->
                                    </tbody>
                                </table>
                                
                            </div>

                        </div>

                        <div class="second-tab-content hidden" id="job-tab">
                            <p class="text-sm text-gray-500">Здесь будет таблица с операциями, строка поиска, фильтры и сортировка</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>


        <!-- Модальное окно "Спецификация номенклатуры" -->
        <div id="specsModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden z-50">
            <div class="bg-white p-6 rounded-lg shadow-lg shadow-gray-700 relative transition-all duration-300 ease-in-out">
                <!-- Кнопка закрытия -->
                <button id="close-specs-modal" class="absolute top-2 right-2 p-2">
                    <img src="{% static 'icons/close.ico' %}" alt="Close" class="w-6 h-6">
                </button>

                <!-- Заголовок -->
{#                <h2 class="text-xl mb-4" id="specs-modal-title">Спецификация</h2>#}
                <h2 class="text-xl mb-4" id="specs-modal-title"></h2>

                <!-- Вкладки -->
                <div class="mb-4 border-b border-gray-300 flex space-x-4">
                    <button type="button" class="second-tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="second-products-tab">
                        Состав
{#                        (<span id="max-line-number">0</span>)#}
                    </button>

                    <button type="button" class="second-tab-btn text-sm py-2 px-4 border-b-2 border-transparent hover:border-emerald-500" data-tab="second-materials-tab">
                        Материалы
{#                        (<span id="materials-line-number">0</span>)#}
                    </button>

                </div>

                <!-- Контент вкладок -->
                <!-- Состав -->
                <div class="second-tab-content" id="second-products-tab">
                    <div class="overflow-y-auto pr-2 scrollbar-custom" style="max-height: 73vh; scrollbar-gutter: stable;">
                        <table class="my-table w-full text-sm">
                            <thead class="sticky top-0 bg-white">
                            <tr>
                                <th class="w-2 px-2 py-1">#</th>
                                <th class="w-32 px-2 py-1">Наименование</th>
                                <th class="w-10 px-2 py-1">Кол-во</th>
                                <th class="w-10 px-2 py-1">Ед.</th>
                            </tr>
                            </thead>
                            <tbody id="specs-table-body">
                            <!-- JS вставит строки -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- Материалы -->
                <div class="second-tab-content hidden" id="second-materials-tab">
                    <p class="text-sm text-gray-500">Здесь будут...</p>
                </div>

            </div>
        </div>

        <!-- Модальное окно "Материалы" -->
        <div id="materialModal" class="fixed inset-0 hidden z-50">
            <div class="absolute bg-white p-6 rounded-lg shadow-lg shadow-gray-700 w-[900px]">
{#        <div id="materialModal" class="fixed inset-0 flex items-center justify-center hidden z-50">#}
{#            <div class="bg-white p-6 rounded-lg shadow-lg shadow-gray-700 relative transition-all duration-300 ease-in-out">#}

                <!-- Кнопка закрытия -->
                <button id="close-material-modal" class="absolute top-2 right-2 p-2">
                    <img src="{% static 'icons/close.ico' %}" alt="Close" class="w-6 h-6">
                </button>

                <!-- Заголовок -->
                <h2 class="text-xl mb-4">Материалы</h2>

                <div id="category-buttons" class="flex flex-wrap gap-2 mb-6 py-2">
                    <!-- Кнопки фильтра добавляются тут динамически -->
                </div>

                <!-- Контейнер с прокруткой только для таблицы -->
                <div class="overflow-y-auto pr-2 scrollbar-custom mt-4" style="max-height: 605px; scrollbar-gutter: stable;">
                    <div class="relative min-h-[200px]">
                        <!-- Лоадер -->
{#                        <div id="specs-loader" class="absolute inset-0 flex justify-center items-center bg-white z-10 hidden">#}
{#                            <div class="loader border-4 border-t-transparent border-emerald-500 rounded-full w-12 h-12 animate-spin"></div>#}
{#                        </div>#}

                        <table id="specs-table" class="my-table w-full min-w-[800px]">
                            <thead class="sticky top-0 bg-white">
                            <tr>
                                <th class="w-10 px-2 py-1">#</th>
                                <th class="w-24 px-2 py-1">Наименование</th>
                                <th class="w-10 px-2 py-1">Количество</th>
                                <th class="w-10 px-2 py-1">Ед.</th>
                                <th class="w-10 px-2 py-1">Подкатегория</th>
                                <th class="w-10 px-2 py-1">Категория</th>
                            </tr>
                            </thead>
                            <tbody id="specs-tab-table-body">
                            <!-- JS вставит строки -->
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    
        <!-- Таблица -->
        <div class="container mx-auto px-4">

            <!-- Поле ввода для поиска -->
            <div class="relative my-4 z-10">
                <input
                        id="searchInputOrders"
                        type="text"
                        class="mt-1 block w-full p-2 border rounded"
                        placeholder="Введите покупателя, код или id записи для поиска..."
                        value="{{ search_query }}"
                        onkeyup="filterTableByNameOrders()">
                <button
                        type="button"
                        class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 hover:text-gray-700"
                        onclick="clearInput('searchInputOrders', filterTableByNameOrders)">
                        <img src="{% static 'icons/close.ico' %}" alt="Close" class="w-6 h-6">
                </button>
            </div>
        
        
            <table class="my-table mt-4 w-full" id="ordersTable">
                <thead>
                <tr>
                    <th class="cursor-pointer font-medium" onclick="sortTable(1)">id</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(0)">Дата</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(2)">Заказ покупателя №</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(3)">Покупатель</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(4)">Сумма</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(4)">Отгружен</th>
                    <th class="cursor-pointer font-medium" onclick="sortTable(4)">Оплачен</th>
                </tr>
                </thead>
                <tbody>
                {% for product in page_obj %}
                    <tr class="cursor-pointer hover:text-emerald-500"
                        data-id="{{ product.id }}"
                        onclick="toggleOrderModal(this)">
                    
                        <td class="font-light">{{ product.id }}</td>
                        <td class="text-center font-light">{{ product.date_of_formation|date:"d.m.y" }}</td>
                        <td class="text-center">{{ product.formatted_number }}</td>
                        <td class="font-medium">{{ product.buyer.description }}</td>
                        <td class="text-center">{{ product.cost|format_qnt }}</td>
                        <td class="text-center">
                            {% if product.shipment == 0 %}
                                -
                            {% else %}
                                {{ product.shipment|format_qnt }}%
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if product.payment == 0 %}
                                -
                            {% else %}
                                {{ product.payment|format_qnt }}%
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
             
        <!-- Пагинация  -->
        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination flex justify-center mt-4">
                <ul class="flex space-x-2">
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?search={{ search_query }}&page={{ page_obj.previous_page_number }}"
                               class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
                                Назад
                            </a>
                        </li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <li>
                                <span class="px-4 py-2 bg-gray-300 text-gray-700 rounded">{{ num }}</span>
                            </li>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <li>
                                <a href="?search={{ search_query }}&page={{ num }}"
                                   class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
                                    {{ num }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <li>
                            <a href="?search={{ search_query }}&page={{ page_obj.next_page_number }}"
                               class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700">
                                Вперед
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    
    </main>
    
{% endblock %}