{% load static %}
{% include 'users/login.html' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'icons/favicon.ico' %}" type="image/x-icon">
    </head>
    
    <body class="bg-white flex flex-col min-h-screen">
        
        <!-- Шапка -->
        <div class="bg-blue-200 h-20 w-full">
            <div class="flex items-center justify-between h-full px-8">
                <!-- Логотип -->
                <h1 class="text-2xl font-bold">
                    <a href="{% url 'index' %}" class="text-gray-800 hover:text-blue-600 transition-colors duration-300">
                        ERP-Hermes logo
                    </a>
                </h1>
                <button class="my-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" onclick="updateTable()">
                    Обновить таблицу
                </button>
                <!-- Кнопка "Выход" -->
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="text-red-500 hover:text-red-700">
                        Выйти
                    </button>
                </form>
                <!-- Кнопка Вход -->
                <h1 class="text-2xl font-light">
                    {% if request.user.is_authenticated and not user.is_superuser%}
                        <!-- Если пользователь авторизован, показываем его имя -->
                        <button type="button" class="flex items-end gap-2 text-gray-800">
                            <span class="icon-container flex items-end">
                                <img src="{% static 'icons/user.ico' %}" alt="Иконка пользователя" class="w-5 h-5 align-bottom">
                            </span>
                            <span class="leading-none">{{ request.user.first_name }}</span>
                        </button>
                    {% else %}
                        <!-- Если пользователь не авторизован, показываем кнопку "Вход" -->
                        <button id="open-login-modal" type="button" class="flex items-end gap-2 text-gray-800 hover:text-blue-600 transition-colors duration-300">
                            <span class="icon-container flex items-end">
                                <img src="{% static 'icons/user.ico' %}" alt="Иконка входа" class="w-5 h-5 align-bottom">
                            </span>
                        <span class="leading-none">Вход</span>
                        </button>
                    {% endif %}
                </h1>
            </div>
        </div>

    
        {% block content %} {% endblock %}
        
        <!-- Подвал -->
        <footer class="bg-gray-500 text-white py-1.5 text-center">
            <p>© 2024 ERP-Hermes.</p>
            Иконки от <a target="_blank" href="https://icons8.com">Icons8</a>
        </footer>
        
        <script src="{% static 'js/forTable/utils.js' %}"></script>
        <script src="{% static 'js/user/utils.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

    </body>
</html>