{% extends 'my_erp/base.html' %}

{% block content %}
    <main class="flex-grow p-1">
        <div class="page-header text-2xl text-black px-8 mt-4">
            {% if can_view_catalog %}
                <h1>
                    <a id="toCatalog" href="{% url 'catalog:index' %}" class="hover:text-blue-600 transition-colors duration-300">
                        Каталог - Номенклатура
                    </a>
                    
                </h1>
            {% endif %}
            
            {% if can_view_orders %}
                <h1 class="mt-4">
                    <a id="toOrders" href="{% url 'orders:orders' %}" class="hover:text-blue-600 transition-colors duration-300">
                        Заказы покупателей
                    </a>
                    
                </h1>
            {% endif %}

            <div>
            <h1 class="mt-4">
                    <a class="hover:text-blue-600 transition-colors duration-300">
                        Проверка спецификаций
                    </a>

                </h1>
        </div>
        </div>

    </main>
    
    
{% endblock %}
