{% extends 'users/base.html' %}
{% load static %}
{% block content %}

    <!-- Форма авторизации -->
    <div id="auth-form">
        <form id="auth-code-form" method="post" action="{% url 'users:login' %}" data-login-url="{% url 'users:login' %}">
            {% csrf_token %}
            <!-- Блок ввода номера телефона -->
            <div id="auth-sms-head">
                <label class="block text-center mb-2 text-lg font-medium text-gray-700">Номер телефона</label>
                <label class="block text-center mb-1 text-sm font-extralight text-gray-700">Введите номер телефона, и мы отправим</label>
                <label class="block text-center mb-2 text-sm font-extralight text-gray-700">СМС с кодом подтверждения</label>
                <input
                        type="text"
                        id="contact_input_number_login"
                        name="auth_contact_input_number"
                        class="contact_input_number block mb-2 text-center mx-auto w-[220px] p-2 border rounded focus:outline-none focus:ring-0 focus:border-gray-200"
                        maxlength="16"
                        autocomplete="new-password">
            </div>

            <!-- Кнопка отправки кода через SMS -->
            <button
                    type="submit"
                    id="auth-send-code-sms"
                    class="px-4 py-2 mb-6 bg-gray-400 text-gray-700 rounded block mx-auto w-[220px] opacity-50 transition-colors duration-300"
                    disabled>
                Получить код по СМС
            </button>

            <!-- Разделитель "или"-->
            <label class="relative block text-center mb-2 text-sm font-extralight text-gray-700 before:content-[''] before:absolute before:left-0 before:top-1/2 before:w-2/5 before:border-t before:border-gray-300 before:mr-2 after:content-[''] after:absolute after:right-0 after:top-1/2 after:w-2/5 after:border-t after:border-gray-300 after:ml-2">
                или
            </label>

            <!-- Кнопка для открытия поля email и кнопки отправки кода на почту -->
            <button
                    type="button"
                    id="email-link"
                    class="block mx-auto px-4 py-2 font-extralight text-gray-700 hover:text-emerald-500 transition-colors duration-300">
                Получить код на почту
            </button>

            <!-- Блок ввода email -->
            <div id="footer-modal" class="hidden">
                <label class="block text-center mb-1 text-sm font-extralight text-gray-700">Введите почтовый адрес, и мы отправим</label>
                <label class="block text-center mb-2 text-sm font-extralight text-gray-700">письмо с кодом подтверждения</label>
                <div class="mb-4">
                    <input
                            type="email"
                            name="email"
                            id="email_auth"
                            class="block text-left mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200"
                            placeholder="Введите email"
                            >
                </div>
                <button
                        type="submit"
                        id="auth-send-code-email"
                        class="px-4 py-2 mb-6 bg-gray-400 text-gray-700 rounded block mx-auto w-[220px] opacity-50 transition-colors duration-300"
                        >
                    Получить код на почту
                </button>
            </div>
        </form>
    </div>


    <!-- Форма регистрации -->
    <div id="register-form" class="hidden">
        <form id="reg-code-form" method="post" action="{% url 'users:signup' %}" data-signup-url="{% url 'users:signup' %}">
            {% csrf_token %}
            <div class="mb-1">
                <label>
                    <input type="text" id="first_name" name="first_name" class="block text-left mx-auto w-[220px] p-2 border rounded mb-1 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Имя" required>
                </label>
            </div>
            <div class="mb-1">
                <label>
                    <input type="text" id="last_name" name="last_name" class="block text-left mx-auto w-[220px] p-2 border rounded mb-1 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Фамилия" required>
                </label>
            </div>
            <div class="mb-4">
                <label>
                    <input type="email" name="email" id="email" class="block text-left mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Почта" required>
                </label>
            </div>
            <div class="mb-2">
                <label for="contact_input_number_register" class="block text-center font-extralight">Номер телефона</label>
                <input
                        type="text"
                        id="contact_input_number_register"
                        name="contact_input_number"
                        data-real-name="phone_number"
                        class="contact_input_number block text-center mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200"
                        maxlength="16"
                        autocomplete="new-password">
            </div>
            <button type="submit" id="send-code-sms" class="px-4 py-2 mb-6 bg-gray-400 text-gray-700 rounded block mx-auto w-[220px] opacity-50 transition-colors duration-300" disabled>Получить код по СМС</button>
            <label class="relative block text-center mb-1 text-sm font-extralight text-gray-700 before:content-[''] before:absolute before:left-0 before:top-1/2 before:w-2/5 before:border-t before:border-gray-300 before:mr-2 after:content-[''] after:absolute after:right-0 after:top-1/2 after:w-2/5 after:border-t after:border-gray-300 after:ml-2">
                или
            </label>
            <button type="submit" id="send-code-email" class="block mx-auto px-4 py-2 font-extralight text-gray-700 opacity-50 transition-colors duration-300" disabled>Получить код на почту</button>
        </form>
    </div>

    <!-- Форма ввода кода -->
    <div id="modal-code">
        <form id="code-verification-form" method="post" action="{% url 'users:verify_code' %}" class="flex flex-col items-center">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.path }}">
            <h2 class="text-xl font-medium mb-2 text-center">Введите код</h2>
            <p id="modalContactInfo" class="text-center"></p>
            <p id="modalContactInfoMethods" class="mb-4 text-center"></p>
            <input
                    type="text"
                    name="verification_code"
                    maxlength="6"
                    class="block text-left mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200"
                    placeholder="6-значный код"
                    required
                    inputmode="numeric"
                    pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            <button
                    type="submit"
                    class="px-4 py-2 mb-4 bg-emerald-500 text-gray-700 rounded block mx-auto w-[220px] hover:bg-emerald-400 transition-colors duration-300">
                Подтвердить
            </button>
            <p id="error-message" class="text-red-500 text-center mb-2 hidden"></p>
            <button id="resend-button" type="button" class="hidden mx-auto w-[220px] hover:text-emerald-500 transition-colors duration-300">Получить новый код</button>
        </form>
    </div>

{% endblock %}

