{% extends 'users/base.html' %}
{% load static %}
{% block content %}

    <!-- Форма авторизации -->
    <div id="auth-form">
        <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            <div>
                <label class="block text-center mb-2 text-lg font-medium text-gray-700">Номер телефона</label>
                <label class="block text-center mb-1 text-sm font-extralight text-gray-700">Введите номера телефона, и мы отправим</label>
                <label class="block text-center mb-2 text-sm font-extralight text-gray-700">СМС с кодом подтверждения</label>
                <label for="contact_input_number_login"></label>
                <input
                        type="text"
                        id="contact_input_number_login"
                        name="contact_input_number"
                        class="contact_input_number block mb-2 text-center mx-auto w-[220px] p-2 border rounded focus:outline-none focus:ring-0 focus:border-gray-200"
                        maxlength="16"
                        autocomplete="new-password">
            </div>
            <button class="px-4 py-2 mb-6 bg-emerald-500 text-gray-700 rounded block mx-auto w-[220px] hover:bg-emerald-400 transition-colors duration-300">Получить код по СМС</button> <!-- TODO кнопка должна быть неактивной пока не введен номер телефона -->
            <label class="relative block text-center mb-2 text-sm font-extralight text-gray-700 before:content-[''] before:absolute before:left-0 before:top-1/2 before:w-2/5 before:border-t before:border-gray-300 before:mr-2 after:content-[''] after:absolute after:right-0 after:top-1/2 after:w-2/5 after:border-t after:border-gray-300 after:ml-2">
                или
            </label>
            <button class="block mx-auto px-4 py-2 font-extralight text-gray-700 hover:text-blue-600 transition-colors duration-300">Получить код на почту</button>
        </form>
    </div>
    
    <!-- Форма регистрации -->
    <div id="register-form" class="hidden">
        <form id="email-code-form" method="post" action="{% url 'users:signup' %}" data-signup-url="{% url 'users:signup' %}">
            {% csrf_token %}
{#            <div id="error-message" class="hidden text-red-500"></div>#}
            <div class="mb-1">
                <label>
                    <input type="text" name="first_name" class="block text-left mx-auto w-[220px] p-2 border rounded mb-1 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Имя" required>
                </label>
            </div>
            <div class="mb-1">
                <label>
                    <input type="text" name="last_name" class="block text-left mx-auto w-[220px] p-2 border rounded mb-1 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Фамилия" required>
                </label>
            </div>
            <div class="mb-4">
                <label>
                    <input type="email" name="email" id="email" class="block text-left mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200" placeholder="Почта" required>
                </label>
            </div>
            <div class="mb-2">
                <label for="contact_input_number_register" class="block text-center font-extralight">Номер телефона</label>
                <input
                        type="text"
                        id="contact_input_number_register"
                        name="contact_input_number"
                        data-real-name="phone_number"
                        class="contact_input_number block text-center mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200"
                        maxlength="16"
                        autocomplete="new-password">
            </div>
            <button type="submit" id="send-code-sms" class="px-4 py-2 mb-6 bg-gray-400 text-gray-700 rounded block mx-auto w-[220px] opacity-50 transition-colors duration-300" disabled>Получить код по СМС</button>
            <label class="relative block text-center mb-1 text-sm font-extralight text-gray-700 before:content-[''] before:absolute before:left-0 before:top-1/2 before:w-2/5 before:border-t before:border-gray-300 before:mr-2 after:content-[''] after:absolute after:right-0 after:top-1/2 after:w-2/5 after:border-t after:border-gray-300 after:ml-2">
                или
            </label>
            <button type="submit" id="send-code-email" class="block mx-auto px-4 py-2 font-extralight text-gray-700 opacity-50 transition-colors duration-300" disabled>Получить код на почту</button>
        </form>
    </div>

    <!-- Форма ввода кода -->
    <div id="modal-code" class="hidden">
        <form id="code-verification-form" method="post" action="{% url 'users:verify_code' %}">
            {% csrf_token %}
            <h2 class="text-xl font-medium mb-2 text-center">Введите код</h2>
{#            <p class="text-sm text-gray-600 mb-4 text-center">Мы отправили вам 6-значный код</p>#}
            <p id="modalContactInfo" class="text-center"></p>
            <p id="modalContactInfoMethods" class="mb-4 text-center"></p>
            <input
                    type="text"
                    name="verification_code"
                    maxlength="6"
                    class="block text-left mx-auto w-[220px] p-2 border rounded mb-4 focus:outline-none focus:ring-0 focus:border-gray-200"
                    placeholder="6-значный код"
                    required
                    inputmode="numeric"
                    pattern="[0-9]*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');">
            <button
                    type="submit"
                    class="px-4 py-2 mb-4 bg-emerald-500 text-gray-700 rounded block mx-auto w-[220px] hover:bg-emerald-400 transition-colors duration-300">
                Подтвердить
            </button>
        </form>
    </div>
    
{% endblock %}

